.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: 100vw;
    padding-bottom: 2rem;
    position: relative;
}

.header {
    display: flex;
    flex-direction: row;
    width: 94%;
    justify-content: space-between;
    font-size: 3rem;
    color: #ffc119;
    margin: 0.5rem 0rem;
}

.header>div:nth-child(1) {
    cursor: pointer;
    color: #efefef;
}

.formContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    padding: 1rem;
}

.odkForm {
    width: 45%;
    height: 100%;
}

.jsonResponse {
    position: relative;
    border: 1px solid #efefef;
    width: 45%;
    height: 100%;
    overflow: hidden;
}

.formText {
    height: 100%;
    width: 100%;
    background: #2b2b2b;
    color: #efefef;
    padding: 1rem;
}

.switch {
    position: relative;
    display: inline-block;
    width: 3.5rem;
    height: 1.5rem;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 34px;
    bottom: 0;
    background-color: #2b2b2b;
    border: 1px solid #ffc119;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1rem;
    width: 1rem;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #ffc119;
}

input:focus+.slider {
    box-shadow: 0 0 1px #ffc119;
}

input:checked+.slider:before {
    -webkit-transform: translateX(28px);
    -ms-transform: translateX(28px);
    transform: translateX(28px);
}

.toggleBtn {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1rem;
    margin-top: 1rem;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.imageLinks {
    width: 94%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #fff;
}

.imageLinks>p:nth-child(1) {
    font-size: 1.8rem;
    font-weight: 600;
}

.imageLinks a {
    color:#fff;
}