.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: 100vw;
    padding-bottom: 2rem;
    position: relative;
}

.header {
    display:flex;
    flex-direction: row;
    width:94%;
    justify-content: space-between;
    font-size: 3rem;
    color: #ffc119;
    margin: 0.5rem 0rem;
}

.header>div:nth-child(1) {
    cursor: pointer;
    color: #efefef;
}

.formContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    padding: 1rem;
}

.odkForm {
    width: 45%;
    height: 100%;
}

.jsonResponse {
    border: 1px solid #efefef;
    width: 45%;
    height: 100%;
    overflow: hidden;
}

.formText {
    height: 100%;
    width: 100%;
    background: #2b2b2b;
    color: #efefef;
    padding: 1rem;
}