.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  background: #2b2b2b;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.heading {
  font-size: 5rem;
  color: #ffc119;
}

.subtitle {
  font-size: 2rem;
  color: #efefef;
  margin-top: -2rem;
  margin-bottom: 4rem;
}

.btnContainer {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.workflowBtns {
  height: 11rem;
  width: 11rem;
  border: 1px solid #ffc119;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #efefef;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in;
  text-align: center;
}

.workflowBtns:hover {
  background: #ffc119;
  color: #000;
  transform: translateY(-5px);
  box-shadow: #ffc119 0px 30px 60px -6px, #ffc119 0px 18px 36px -9px;
}