.spinner-border {
  display: block;
  position: fixed;
  top: calc(50% - (58px / 2));  
  right: calc(50% - (58px / 2));
  color: red;
}

#backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: rgb(0,0,0,0.2);
}