@keyframes pulsate {
  0% {
    transform: scale(0.5);
    opacity: 0.0; }
  50% {
    opacity: 0.8; }
  100% {
    transform: scale(1.2);
    opacity: 0; } }

html {
  height: 100%;
  overflow-x: hidden; }

body {
  overflow-x: hidden;
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  transition: background-color 1.3s ease; }

progress {
  display: block;
  margin: 10px auto; }

.preview progress {
  margin: 80px auto; }

.main-loader {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center; }
  .main-loader.fail .main-loader__image {
    border: transparent;
    animation: none; }

.main-loader__image {
  border: 10px solid #ccc;
  transition: border-color 1.3s ease;
  border-radius: 100px;
  height: 100px;
  width: 100px;
  opacity: 0;
  animation: pulsate 2s ease-out;
  animation-iteration-count: infinite; }

.main-loader ~ .main,
.main-loader ~ .side-slider {
  display: none; }

.loader-animation-small {
  border: 5px solid #ccc;
  transition: border-color 1.3s ease;
  border-radius: 50px;
  height: 50px;
  width: 50px;
  opacity: 0;
  animation: pulsate 2s ease-out;
  animation-iteration-count: infinite; }

.page-break {
  display: none; }

.log {
  word-break: break-all; }
